<div class="verify-card">
    <div class="home-icon">
        <i class="bi bi-house-fill" routerLink="/home/main"></i>
    </div>
    <h1>Reset password</h1>

    <form [formGroup]="formModel" (ngSubmit)="resetPassword()">
        <input type="password" formControlName="newPassword" class="form-control" placeholder="Password" required>
        <span id="passwordError" class="text-bg-danger"></span>
        <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm password" required>
        <span id="confirmPasswordError" class="text-bg-danger"></span>

        <button type="submit" class="btn-verify">Reset password</button>
    </form>

    <div class="divider">
        <div class="divider-line"></div>
    </div>
</div>
