<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-5 col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li routerLink="/home/main" class="breadcrumb-item"><a>Homepage</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Courses</li>
                    </ol>
                </nav>
                <h2 class="text-white">My Courses</h2>
            </div>
        </div>
    </div>
</header>

<section class="topics-section" *ngIf="!loading()">
  <div class="button-group d-flex justify-content-between align-items-center">
    <div>
      <select class="filter-select me-2" [(ngModel)]="statusFilter" (change)="applyFilters()">
        <option value="">All Status</option>
        <option value="InProgress">In Progress</option>
        <option value="Completed">Completed</option>
        <option value="Saved">Saved</option>
      </select>
    </div>

    <div>
      <select class="filter-select me-2" [(ngModel)]="categoryFilter" (change)="applyFilters()">
        <option value="">All Category</option>
        <option *ngFor="let cat of [1,2,3]" [value]="cat">Category {{cat}}</option>
      </select>

      <select class="filter-select" [(ngModel)]="levelFilter" (change)="applyFilters()">
        <option value="">All Level</option>
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
      </select>
    </div>
  </div>

  <div *ngIf="courses()?.length; else noCourses">
    <div *ngFor="let item of courses()" class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
      <div class="row">
        <div class="col-md-2">
          <img [src]="item?.course?.coverImagePath" class="custom-block-image rounded img-fluid ms-3" alt="" />
        </div>

        <div class="col-md-9 row custom-block-topics-listing-info">
          <div class="col-md-11 ms-3">
            <h4 class="mb-2" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; size: 30px;">{{item?.course?.title}} <span class="dot">&#9679;</span></h4>
            <h6 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 20px; color: #13547a;">{{item?.course?.level}}</h6>
            <p>Instructor: {{item?.instructor?.user?.firstName}} {{item?.instructor?.user?.lastName}}</p>

            <div class="row progress-group d-flex justify-content-between">
              <div class="col-md-9 row align-items-end">
                <div class="col-md-8">
                  <div>
                    <h6>Progress: {{item?.progress}}%</h6>
                  </div>
                  <div class="progress">
                    <div class="progress-bar-custom" [style.width.%]="item.progress"></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <i class="fas fa-flag"></i>
                  <h6>Ends on {{item?.completionDate | date:'dd/MM/yyyy'}}</h6>
                </div>
              </div>

              <div class="col-md-3">
                <a [routerLink]="['/student/course-info/', item?.studentCourseId]" class="btn custom-btn mt-auto mt-lg-4" style="background-color: #80d0c7; font-weight: bold; border-radius: 50px;">Go to course</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-1 d-flex justify-content-end align-items-start">
          <div class="dropdown">
            <button class="btn" type="button" data-bs-toggle="dropdown">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" [routerLink]="['/courses/detail', item?.course?.courseId]">Course Detail</a>
              </li>
              <li><a class="dropdown-item text-danger" href="#">Report</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>




    <nav aria-label="MyCourse pagination">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="pageIndex === 1">
          <a class="page-link" (click)="prevPage()">Previous</a>
        </li>

        <li class="page-item" *ngFor="let i of [].constructor(totalPages); let idx = index"
            [class.active]="pageIndex === idx + 1">
          <a class="page-link" (click)="pageIndex = idx + 1; loadMyCourses()">{{ idx + 1 }}</a>
        </li>

        <li class="page-item" [class.disabled]="pageIndex === totalPages">
          <a class="page-link" (click)="nextPage()">Next</a>
        </li>
      </ul>
    </nav>
  </div>

   <ng-template #noCourses>
    <div class="text-center text-secondary py-5">No course available</div>
  </ng-template>
</section>

<section class="section-padding section-bg">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h3 class="mb-4">Trending Topics</h3>
            </div>

            <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-0">
                <div class="custom-block bg-white shadow-lg">
                    <a asp-action="CourseList" asp-controller="Course" asp-route-category="1">
                        <div class="d-flex">
                            <div>
                                <h5 class="mb-2">Programming</h5>

                                <p class="mb-0">Courses related to programming and software development</p>
                            </div>

                            <span class="badge bg-music rounded-pill ms-auto">30</span>
                        </div>

                        <img src="assets/images/topics/undraw_Podcast_audience_re_4i5q.png"
                            class="custom-block-image img-fluid" alt="" />
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-12 mt-lg-3">
                <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">
                        <img src="assets/images/businesswoman-using-tablet-analysis.jpg" class="custom-block-image img-fluid"
                            alt="">

                        <div class="custom-block-overlay-text d-flex">
                            <div>
                                <h5 class="text-white mb-2">Finance</h5>

                                <p class="text-white">Courses focused on data analysis and machine learning.</p>

                                <a asp-action="CourseList" asp-controller="Course" asp-route-category="2"
                                    class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                            </div>

                            <span class="badge bg-graphic rounded-pill ms-auto">25</span>
                        </div>

                        <div class="social-share d-flex">
                            <p class="text-white me-4">Share:</p>

                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-pinterest"></a>
                                </li>
                            </ul>

                            <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                        </div>

                        <div class="section-overlay"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>