<div class="container-fluid">
    <div class="card shadow row m-3">
        <div class="m-3">
            <h4>Material</h4>
        </div>
        
        @if (loading()) {
            <div class="d-flex align-items-center justify-content-center mb-5" style="height: 60vh;">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        } @else if (materials() && materials().length > 0) {
            @for (material of materials(); track material.materialId) {
                <div class="position-relative mb-2 px-4 mb-3">
                    <i [class]="getIconClass(material.fileExtension) + ' me-2 ms-2 fs-3'"></i>
                    <a [href]="material.materialsLink" class="btn-link" target="_blank">{{ material.fileName }}</a>
                </div>
            }
        } @else {
            <div class="d-flex align-items-center justify-content-center mb-5" style="height: 60vh;">
                <h5 class="text-muted">No materials available</h5>
            </div>
        }
    </div>
</div>