 .list-unstyled .icon {
        width: 40px;
    }

    .list-unstyled .label {
        width: 200px;
        text-align: left;
    }

    .list-unstyled .text {
        width: 100%;
        text-align: left;
    }

    .list-unstyled .btn-icon-split {
        display: flex; /* Để các phần tử bên trong nằm ngang */
        align-items: center; /* Căn giữa theo chiều dọc */
    }

    .list-unstyled .text-white-50 {
        color: rgba(255, 255, 255, 0.5); /* Màu chữ nửa trong suốt */
    }

    .avatar {
        width: 175px; 
        height: 175px;
        object-fit: cover; 
    }