<div class="verify-card">
     <div class="home-icon">
            <i class="bi bi-house-fill" routerLink="/home/main"></i>
        </div>
    <h1>Verify Email</h1>

    <form [formGroup]="formModel" (ngSubmit)="onSubmit()">
        <input type="email" class="form-control" formControlName="email" placeholder="Email" required>

        <button type="submit" class="btn-verify">Verify Email</button>
    </form>

    <div class="divider">
        <div class="divider-line"></div>
    </div>

    <div class="signup-link">
        <a routerLink="/auth/signin">Sign In</a> or <a routerLink="/auth/signup">Sign Up</a>
    </div>
</div>